# 'sleepycat://~/working/rdflib_store'
# 'mysql://user:pass@localhost/rdflib_db'
{
    'rdfalchemy.dburi' : 'sleepycat://~/rdflib_store',
    'rdfalchemy.identifier' : 'http://example.org',
    'about.name' : "Jane Doe",
    'about.uri' : 'http://example.org/about#me',
    'site.content_dir' : '/Users/jdoe/myweb/content'
}
