$def with (person)
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:foaf="http://xmlns.com/foaf/0.1/"
    xmlns:dc="http://purl.org/dc/terms/"
    xmlns:bio="http://purl.org/vocab/bio/0.1/"
    xmlns:skos="http://www.w3.org/2004/02/skos/core#">

  <head profile="http://www.w3.org/2003/g/data-view">
    <title>Bruce D’Arcus | About</title>
    $:render.header()
  </head>
  <body>
   $:render.menu()
    <div id="content" about="about" typeof="foaf:PersonalProfileDocument">
      <div id="me" about="$person.resUri" typeof="foaf:Person">
	<div class="image"><img property="foaf:depiction" src="$person.depiction" width="100%"/></div>
	
	<p property="dc:title">$person.description</p>
      
        <ul class="metadata-details">

	  
$if person.mbox:
	  <li>
	  <span class="heading">Email:  </span>
	  <span property="foaf:mbox">$person.mbox</span>
	  </li>

	  
$if person.interests:
	  <li>	  
	  <span class="heading">Interests: </span>
	  
    $for interest in sorted(person.interests):
	    <a rel="foaf:interest"
	    href="$rel_uri(interest.resUri)">$interest.pref_label</a>,

	  
	  </li>

$if person.based_near:
	  <li>
	  <span class="heading">Location: </span>
	  <a href="$person.based_near.resUri"
	  rel="foaf:based_near">$person.based_near.name</a>
	  </li>

	    
        </ul>
        <div class="quiet metadata">last modified <span about="http:///bruce.darcus.name/about" property="dc:modified" content="2008-06-15">July 15, 2008</span></div>
      </div>
    </div>
   $:render.footer()
  </body>
</html>
