$def with (person)
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:foaf="http://xmlns.com/foaf/0.1/"
    xmlns:dc="http://purl.org/dc/terms/"
    xmlns:bio="http://purl.org/vocab/bio/0.1/"
    xmlns:skos="http://www.w3.org/2004/02/skos/core#">

  <head profile="http://www.w3.org/2003/g/data-view">
    <title>Bruce D’Arcus | About</title>
    $:render.header()
  </head>
  <body>
   $:render.menu()
    <div id="content" about="http://bruce.darcus.name/about" typeof="foaf:PersonalProfileDocument">
      <div id="me" about="#me" typeof="foaf:Person">
	<div class="image"><img property="foaf:depiction" src="media/img/me.jpg" width="100%"/></div>
	
	<p property="dc:title">I am an <span
         property="foaf:title">Associate Professor</span> of Geography
         at Miami University of Ohio. I work at the intersection of
         cultural, urban and political geography, with research
         interests in the role of public space in contemporary
         politics. My teaching and advising centers on two
         broad themes: urban citizenship and public space, and the
         politics of globalization.</p>
      
        <dl>
	  <dt>bio</dt>
	  <dd property="bio:olb">geographer</dd>
	  <dt>email</dt>
	  <dd>bruce@darcus.name</dd>
	  <dt>phone</dt>
	  <dd>513-529-1521</dd>
	  <dt>based near</dt>
	  <dd><a href="http://sws.geonames.org/4520760/" rel="foaf:based_near">Oxford, Ohio</a></dd>
	  <dt>interests</dt>
	  <dd>
	    <a rel="faof:interest" href="categories/public_space">public space</a>,
	    <a rel="faof:interest" href="categories/citizenship">citizenship</a>,
	    <a rel="faof:interest" href="categories/law">law</a>,
	    <a rel="faof:interest" href="categories/media">media</a>,
	    <a rel="faof:interest" href="categories/dissent">dissent</a>
          </dd>
        </dl>
        <div class="quiet metadata">last modified <span about="http:///bruce.darcus.name/about" property="dc:modified" content="2008-06-15">June 15, 2008</span></div>
      </div>
    </div>
   $:render.footer()
  </body>
</html>
