$def with (article)
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:foaf="http://xmlns.com/foaf/0.1/"
    xmlns:dc="http://purl.org/dc/terms/"
    xmlns:bio="http://purl.org/vocab/bio/0.1/"
    xmlns:skos="http://www.w3.org/2004/02/skos/core#">

  <head profile="http://www.w3.org/2003/g/data-view">
    <title>$article.title</title>
    $:render.header()
  </head>
  <body>
   $:render.menu()
    <div id="content" about="$article.resUri" typeof="bibo:AcademicArticle">
      <h1>$article.title</h1>

      <ul class="metadata-details">
	<li>
	  <span class="heading">Author(s): </span>

$for creator in article.creators:
       <a href="$creator.resUri" rel="dc:creator">$creator.name</a>

	</li>
	<li>  
	  <span class="heading">Date: </span>
	<span property="dc:date">
$if article.issued:
	$article.issued
$else:
	$article.date

	
	</span>
	</li>
	<li>
	<span class="heading">Journal: </span><a href="$article.periodical.resUri"
    rel="dc:isPartOf">$article.periodical.title</a>
	</li>
	<li>
<span class="heading">Pages: </span><span
    property="bibo:pageStart">$article.page_start</span>-<span
    property="bibo:pageEnd">$article.page_end</span>
	</li>
	<li>  
	  <span class="heading">DOI: </span><span
	property="dc:date">$article.doi</span>
	</li>
	<li><span class="heading">Volume/Issue: </span>
<span
    property="bibo:volume">$article.volume</span>/<span
    property="bibo:issue">$article.issue</span>
	</li>
        <li>
	<span class="heading">Topics:</span>
$for subject in sorted(article.subjects):
    <a href="$rel_uri(subject.resUri)" rel="dc:subject">$subject.pref_label</a>,

	
        </li>
      </ul>
	 
    </div>
   $:render.footer()
  </body>
</html>
