$def with (title, index)

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:skos="http://www.w3.org/2004/02/skos/core#">

  <head profile="http://www.w3.org/2003/g/data-view">
    <title>$title</title>
    $:render.header()
  </head>
  <body>
   $:render.menu()
    <div id="content">
      <h2>$title</h2>
      <ol>
$for item in index:
    $if item.pref_label:
        <li><a href="$rel_uri(item.resUri)">$item.pref_label</a></li>

	  
      </ol>
    </div>
   $:render.footer()
  </body>
</html>
