<div id="header">
      <div id="menu">
        <ul id="navigation">
          <li><a id="home-link" href="/"><span>home</span></a></li>
          <li><a id="about-link" href="/about"><span>about</span></a></li>
          <li><a id="notes-link" href="/notes"><span>notes</span></a></li>
	  <li><a id="photos-link" href="/photos"><span>photos</span></a></li>
          <li><a id="publications-link" href="/publications"><span>publications</span></a></li>
	  <li><a id="publications-link" href="/links"><span>links</span></a></li>
	  <li><a id="colophon-link" href="/colophon"><span>colophon</span></a></li>
        </ul>
      </div>
    </div>
